<% content_for :title, 'Create new group' %>
<h2>Create New Group</h2>

<%= form_for(@group) do |f| %>
  <%= render 'shared/error_messages', object: @group %>

  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.fields_for :trainers do |trainer| %>
      <%= trainer.label :trainer_name %><br />
      <%= trainer.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>